#root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  ;
}
section {
  height: 100vh;
  padding: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.main{
  background: linear-gradient(45deg, #4158d0, #c850c0);
  color: white;
  display: flex;
  flex-direction: column;
}

section.main > *{
  margin: 1rem 0;
}

section.main > h1{
  font-size: 4em;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  align-items: center;
}
section.main > h2{
  font-size: 2em;
  font-weight: 100;
}
section.main > h2 strong{
  font-size: 1.1em;
  font-weight: 700;
}

.orderTable{
  font-size: 2vmin;
  border-radius: 2em;
  overflow: hidden;
  background: linear-gradient(45deg, #4158d0, #c850c0);
  color: #fff;
}

.countdown {
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
}

.countdown span {
  padding: 0 14px;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}

#cd_d{
  letter-spacing: 0.6em;
}

#cd_h{
  letter-spacing: 0.4em;
}

#cd_m{
  letter-spacing: 0.2em;
}
#cd_s{
  letter-spacing: 0.2em;
}

.countdown span div {
  font-size: 4em; 
  font-weight: 700;
  font-variant-numeric: tabular-nums;
  letter-spacing: 0;
}

#down{
  font-family: 'open sans';
  display: none;
  position: absolute;
  bottom:1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  color: #fff;
}

#breakfast-time {
  position: absolute;
  color: #fff;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #4158d0, #c850c0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  display: none
}

#breakfast-time .icon{
  position: relative;
  display: inline-block;
  transform: rotate(50deg);
  animation: icon 2s infinite linear;
}

@keyframes icon {
  0%, 100%
  {transform: rotate(-30deg);
  }

  50% {transform: rotate(30deg);
  }

}

@media(max-width: 1400px) {
  #root{
    grid-template-columns: 1fr;
  }
  #down{
    display: block;
  }
}